* {
  margin: 0;
  padding: 0;
}

#search_bar {
  border-radius: 10px !important;
}
#search_bar > input {
  width: 40vw;
  border: none;
  padding: 10px;
  background-color: transparent;
}
.hero_section {
  text-align: center;
}
.list {
  text-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
}
.category {
  width: 85vw;
  margin: auto;
  overflow: hidden;
}
.item_category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85vw;
  margin: auto;
}
#cards {
  width: 180px;
  height: 286px;
}
#seeall {
  margin-left: auto;
}
.time {
  font-size: 9px;
  margin-left: 20px;
}
/* .card_head {
  font-size: 13px;
} */
.card_head {
  margin-left: 15px;
}
.quantity {
  margin-left: 15px;
  color: grey;
}
.price {
  margin-left: 15px;
  font-size: 12px;
}
.price_add {
  display: flex;
}
.btn_add {
  margin-left: 90px;
  margin-top: -15px;
}
#dairy_products {
  display: flex;
  flex-wrap: wrap;
}
.products {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}
/* .product_head {
  margin-bottom: 50px;
} */
footer {
  width: 85vw;
  margin: auto;
}

#footer_r3 {
  font-size: 14px;
  color: rgb(102, 102, 102);
  line-height: 18px;
  margin: 12px;
}

#footer_r2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#social-icons {
  display: flex;
  gap: 10px;
}
.social-icon {
  width: 50px;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 20px;
}

#downloads {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#footer_r2 > p {
  width: 40%;
  font-size: 14px;
  color: rgb(102, 102, 102);
  line-height: 18px;
  margin: 12px;
}
#footer_r1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}

#useful_links {
  flex: 2;
}

#categories_links {
  flex: 3;
}
table {
  width: 100%;
}
td {
  font-weight: 400;
  line-height: 2;
  color: #212529;
}

@media screen and (max-width: 500px) {
  #hero-section {
    display: none;
  }
  nav {
    flex-direction: column;
  }

  #delivery-div {
    border: none !important;
  }
  #search_bar {
    display: flex;
    align-items: center;
  }
  #search_bar > input {
    width: 80vw;
  }
  .category {
    margin-top: 50px;
  }

  #footer_r3 {
    width: 90%;
    text-align: justify;
  }
  #footer_r2 {
    flex-direction: column;
  }
  #footer_r2 > p {
    width: 100%;
    text-align: justify;
  }
  #social-icons {
    margin-top: 20px;
  }
  #footer_r1 {
    flex-direction: column;
    align-items: center;
  }

  #useful_links,
  #categories_links {
    width: 100%;
  }

  td {
    text-align: center;
  }
}
.me {
  text-align: center;
}
